@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body, [class*="css"]{
font-family:'Poppins',sans-serif;
}

.stApp{

background:linear-gradient(135deg,#141E30,#243B55);

color:white;

}

.stTextInput input{

background:white;

border-radius:50px;

padding:15px;

font-size:18px;

border:2px solid #00E5FF;

}

.stButton>button{

background:linear-gradient(90deg,#00C6FF,#0072FF);

color:white;

border-radius:50px;

font-size:18px;

padding:15px;

font-weight:bold;

border:none;

width:100%;

}

.stButton>button:hover{

transform:scale(1.03);

box-shadow:0 0 20px cyan;

}

[data-testid="stMetricValue"]{

font-size:32px;

color:#00E5FF;

}

[data-testid="stMetricLabel"]{

font-size:18px;

color:white;

}

img{

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.35);

}